<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Application" connectionString="server=.\sql2005;database=Application;uid=sa;pwd=sa" providerName="System.Data.SqlClient"/>
    <add name="Log" connectionString="server=.\sql2005;database=Log;uid=sa;pwd=sa" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>