<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--EF配置节-->
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!--连接字符串-->
  <connectionStrings>
    <add name="Application" connectionString="server=.;database=Application;uid=sa;pwd=123456" providerName="System.Data.SqlClient"/>
    <add name="Application_MySql" connectionString="server=localhost;user id=root;password=root;database=Application;port=3306;CharSet=utf8;" providerName="MySql.Data.MySqlClient"></add>
  </connectionStrings>
  <appSettings>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>
  <system.web>
    <!--授权模块,经典模式使用-->
    <httpModules>
      <add name="AuthorizeModule" type="Applications.Services.Security.AuthorizeModule"/>
    </httpModules>
    <!--设置文件上传最大容量,单位：K-->
    <httpRuntime maxRequestLength="300000" executionTimeout="3600" targetFramework="4.5"/>
    <!--编译模式-->
    <compilation debug="true" targetFramework="4.5"/>
    <!--Form权限认证-->
    <authentication mode="Forms">
      <forms loginUrl="~/Login" timeout="2880"/>
    </authentication>
    <!--关闭自定义错误-->
    <customErrors mode="Off"></customErrors>
  </system.web>
  <system.webServer>
    <modules>
      <!--授权模块,集成模式使用-->
      <add name="AuthorizeModule" type="Applications.Services.Security.AuthorizeModule"/>
    </modules>
    <!--不验证集成模式-->
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <runtime>
    <!--程序集依赖配置-->
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!--System.Web.Helpers-->
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <!--System.Web.Mvc-->
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <!--System.Web.WebPages-->
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <!--WebGrease-->
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <!--Autofac-->
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0"/>
      </dependentAssembly>
      <!--EntityFramework-->
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--EF配置-->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider>
    </providers>
  </entityFramework>
  <!--MySql配置-->
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>
