<%@ Template Language="C#" TargetLanguage="C#" Debug="True" Encoding="UTF-8" %>

<%@ Assembly Src="..\Common\Model.cs" %>
<%@ Assembly Src="..\Common\Extensions.cs" %>

<%@ Import Namespace="System.Collections.Generic" %>
<%@ Import Namespace="System.Linq" %>
<%@ Import Namespace="System.Text" %>
<%@ Import Namespace="System.Text.RegularExpressions" %>
<%@ Import Namespace="SchemaMapper" %>

<%@ Property Name="EntityContext" Type="SchemaMapper.EntityContext"  %>
<%@ Property Name="DbName" Type="System.String"  %>
<%@ Property Name="Namespace" Type="System.String"  %>
<%@ Property Name="UnitOfWork" Type="System.String"  %>
<%@ Property Name="IUnitOfWorkNamespace" Type="System.String"  %>
using System.Data.Entity;
using Util.Datas.MySql;

namespace <%= Namespace %>.Datas.Ef.MySql {
    /// <summary>
    /// MySql工作单元
    /// </summary>
    public class MySql<%= UnitOfWork %> : MySqlUnitOfWork, I<%= UnitOfWork %> {
        /// <summary>
        /// 初始化MySql工作单元
        /// </summary>
        static MySql<%= UnitOfWork %>() {
            Database.SetInitializer<MySqlApplicationUnitOfWork>( null );
        }

        /// <summary>
        /// 初始化MySql工作单元
        /// </summary>
        public MySql<%= UnitOfWork %>() : base( "<%= DbName %>_MySql" ) { }
    }
}